.hidden {
  display: none;
}

.link {
  cursor: pointer;
}

.line {
  display: flex;
  justify-content: center;
}

body {
  font-size: 19px;
  font-family: "Roboto", sans-serif !important;
}

.container {
  background-color: #DBF1F1;
  padding: 20px;
}

#title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.material-icons-outlined.md-70 {
  font-size: 70px;
}

#cursos #form-cursos {
  border: 1px solid black;
  padding: 10px;
}

#cursos #anadir-container {
  flex-wrap: wrap;
  justify-content: space-around;
}

#cursos #anadir-nota {
  width: 100px;
}

#cursos #button-container {
  margin: 10px;
}

#cursos #ficha-curso {
  margin-bottom: 20px;
}

#editar .row {
  margin-bottom: 10px;
}

/*# sourceMappingURL=styles.css.map */
